body{
  background-image: url(https://img.rawpixel.com/private/static/images/website/2022-05/ns17321-image-kwvyawqu.jpg?w=1200&h=1200&dpr=1&fit=clip&crop=default&fm=jpg&q=75&vib=3&con=3&usm=15&cs=srgb&bg=F4F4F3&ixlib=js-2.2.1&s=d62bbb7c0ca0924040bb494bdd4714f1);
  background-size: center;
  background-position: center;
  /* background-repeat: no-repeat; */
}


/* we need help with making the random  */
/*  */
